{%  extends 'utilaties/dashboard.html' %}
{% load static %}

{% block header-title %} Post Creation {% endblock header-title %}
{% block cssStyles %}

    
    <!-- <link href="toastr.css" rel="stylesheet"/>
    <script src="toastr.js"></script> -->
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static '/vendor/fullcalendar/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/photoswiper/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'css/contentGallery/main.css' %}">
{% endblock cssStyles %}
{% block content %}
<section>
    <!-- Gutter g-1 -->
    <div class="container p-5">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="body">
                        {% comment %} <button class="btn btn-primary btn-round waves-effect" id="change-view-today">today</button>
                        <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-day" >Day</button>
                        <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-week">Week</button>
                        <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-month">Month</button> {% endcomment %}
                        <div id="calendar" class="mt-2" style="width: 100%; display: inline-block;"></div>
                    </div>
                </div>
                {% comment %} <div class="col-4 weekDataClass">
                    {% for weekBudget in weekBudgets %}
                        <div class="card">
                            <h6>{{weekBudget.title}}</h6>
                            <p>Date: {{weekBudget.currWeekDate}}</p>
                            <hr>
                            <p {% if weekBudget.isOverflow %} 
                                class="text-danger" 
                                {% else %}
                                class="text-success" 
                            {% endif %}><b>Budget: $ {{weekBudget.weekBudget}}</b></p>
                        </div>
                    {% endfor %}
                </div> {% endcomment %}
            </div>
        </div>    
    </div>
</section>

<section>
    <div class="container">
        <div class="pswp-gallery pswp-gallery--single-column d-flex flex-wrap justify-content-evenly align-items-center" id="gallery--getting-started">
            {% for userPost in posts %}
                <div class="picture-sm">
                    <div class="mb-2">
                        <a href="{{userPost.picture.url}}"
                            {% if userPost.picture.width > 1500 %}
                                data-pswp-width=1500px
                            {% else %}
                                data-pswp-width={{userPost.picture.width}}px
                            {% endif %}
                            data-pswp-height={{userPost.picture.height}}px
                        
                            data-cropped="true" target="_blank">
                            <figure>
                            <img src="{{userPost.picture.url}}" width=350 height = 250  alt="" />
                        </figure>
                            <div class="hidden-caption-content">
                                {{userPost.title}}
                            </div>

                            <div class="hidden-link-content">{% url 'contentDetails' userPost.id %}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<form method="POST"  id="monthHiddenForm">
    {% csrf_token %}
    <input type="hidden" name="monthHiiden" id="monthHiddenValue" value=0>
</form>
<script src="{% static 'js/fullcalendarscripts.bundle.js' %}"></script><!--/ calender javascripts --> 

<script>
    $(document).ready(function(event) {
    $("#calendar").fullCalendar('gotoDate', "{{date}}");
    $(".fc-next-button").click(function() {
        var date = $("#calendar").fullCalendar('getDate').format('YYYY-MM-DD');
        $("#monthHiddenValue").val(date);
        $("#monthHiddenForm").submit();
    });
    $(".fc-prev-button").click(function() {
        var date = ($("#calendar").fullCalendar('getDate')).format('YYYY-MM-DD');
        $("#monthHiddenValue").val(date);
        $("#monthHiddenForm").submit();
    });
});
</script>
<script>
    "use strict";
    $('#calendar').fullCalendar({
        header: {
            left: 'prev',
            center: 'title',
            right: 'next'
        },
        defaultDate: new Date().toISOString().slice(0, 10)+'',
        editable: true,
        droppable: true,
        aspectRatio: 2,
        height: 550,
        drop: function() {
            if ($('#drop-remove').is(':checked')) {
                $(this).remove();
            }
        },
        eventLimit: true,
        events: [
        {% for post in posts %}
        {
            title: '{{post.title}}',
            start: '{{post.dateToBuy|date:"Y-m-d"}}T{{post.dateToBuy|date:"h:m"}}',
            url: "{% url 'contentDetails' post.id %}",
            className: 'b-l b-2x b-greensea'
        },
        {% endfor %}
        ]
    });

    // Hide default header
    $('.fc-header').hide();



    // Previous month action
    $('#cal-prev').on('click',function(){
        $('#calendar').fullCalendar( 'prev' );
    });

    // Next month action
    $('#cal-next').on('click',function(){
        $('#calendar').fullCalendar( 'next' );
    });

    // Change to month view
    $('#change-view-month').on('click',function(){
        $('#calendar').fullCalendar('changeView', 'month');

        // safari fix
        $('#content .main').fadeOut(0, function() {
            setTimeout( function() {
                $('#content .main').css({'display':'table'});
            }, 0);
        });

    });

    // Change to week view
    $('#change-view-week').on('click',function(){
        $('#calendar').fullCalendar( 'changeView', 'agendaWeek');

        // safari fix
        $('#content .main').fadeOut(0, function() {
            setTimeout( function() {
                $('#content .main').css({'display':'table'});
            }, 0);
        });

    });

    // Change to day view
    $('#change-view-day').on('click',function(){
        $('#calendar').fullCalendar( 'changeView','agendaDay');

        // safari fix
        $('#content .main').fadeOut(0, function() {
            setTimeout( function() {
                $('#content .main').css({'display':'table'});
            }, 0);
        });

    });

    // Change to today view
    $('#change-view-today').on('click',function(){
        $('#calendar').fullCalendar('today');
    });

    /* initialize the external events
     -----------------------------------------------------------------*/
    $('#external-events .event-control').each(function() {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });

    $('#external-events .event-control .event-remove').on('click', function(){
        $(this).parent().remove();
    });
</script>

<script type="module">
    import PhotoSwipeLightbox from "{% static 'vendor/photoswiper/js/lightbox/lightbox.js' %}";
    const backEasing = {
        in: 'cubic-bezier(0.6, -0.28, 0.7, 1)',
        out: 'cubic-bezier(0.3, 0, 0.32, 1.275)',
        inOut: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'
    };
    
    function isPhonePortrait() {
        return window.matchMedia('(max-width: 600px) and (orientation: portrait)').matches;
    }
    const options = {
      gallery: '#gallery--getting-started',
      children: 'a',
      
      showHideAnimationType: 'zoom',
      showAnimationDuration: 1000,
      hideAnimationDuration: 1000,
    
      initialZoomLevel: (zoomLevelObject) => {
        if (isPhonePortrait()) {
        return zoomLevelObject.vFill;
        } else {
        return zoomLevelObject.fit;
        }
      },
      secondaryZoomLevel: (zoomLevelObject) => {
        if (isPhonePortrait()) {
        return zoomLevelObject.fit;
        } else {
        return 1;
        }
      },

      maxZoomLevel: 1,
      pswpModule: () => import("{% static 'vendor/photoswiper/js/photoswipe.js' %}")
    };
    const lightbox = new PhotoSwipeLightbox(options);
    
    lightbox.on('firstUpdate', () => {
        lightbox.pswp.options.easing = backEasing.out;
    });
    lightbox.on('initialZoomInEnd', () => {
        lightbox.pswp.options.easing = backEasing.inOut;
    });
    lightbox.on('close', () => {
        lightbox.pswp.options.easing = backEasing.in;
    });
    lightbox.on('uiRegister', function() {
    lightbox.pswp.ui.registerElement({
            name: 'custom-caption',
            order: 9,
            isButton: false,
            appendTo: 'root',
            html: 'Caption text',
            onInit: (el, pswp) => {
            lightbox.pswp.on('change', () => {
                const currSlideElement = lightbox.pswp.currSlide.data.element;
                let captionHTML = '';
                if (currSlideElement) {
                const hiddenCaption = currSlideElement.querySelector('.hidden-caption-content');
                const hiddenlink = currSlideElement.querySelector('.hidden-link-content');
                console.log(hiddenlink);
                if (hiddenCaption) {
                    // get caption from element with class hidden-caption-content
                    captionHTML = hiddenCaption.innerHTML;
                } else {
                    // get caption from alt attribute
                    captionHTML = currSlideElement.querySelector('img').getAttribute('alt');
                }
                if (hiddenlink) {
                    // get caption from element with class hidden-caption-content
                    captionHTML += "<br><a href='"+hiddenlink.innerHTML+"'>Go To Details</a>";
                }
                }
                
                el.innerHTML = captionHTML || '';
                console.log(el.innerHTML);
            });
            }
        });
    });
    
    lightbox.init();
</script>
{% endblock content %}