{%  extends 'accounts/base_template.html' %}

{% load static %}

{% block head-title %}
Signup
{% endblock head-title %}
{% block content %}
<form  method="POST">
  {% csrf_token %}
      <div class="form-outline">
        <input type="text" id="username" name="username" class="form-control" />
        <label class="form-label" for="username">Username</label>
      </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    Login
  </button>
</form>
{% endblock content %}
