{%  extends 'accounts/base_template.html' %}

{% load static %}

{% block head-title %}
Signup
{% endblock head-title %}
{% block content %}
<form  method="POST">
  {% csrf_token %}
  <div class="row">  <!-- Email input -->
    <div class="form-outline mb-4">
    {{form.username}}
    <label class="form-label" for="form3Example3">Username</label>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        {{form.first_name}}
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="form-outline">
        {{form.last_name}}
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    {{form.email}}
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Age input -->
  <div class="form-outline mb-4">
    {{form.age}}
    <label class="form-label" for="form3Example3">Age</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    {{form.password1}}
    <label class="form-label" for="form3Example4">Password</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    {{form.password2}}
    <label class="form-label" for="form3Example4">Confirm Password</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    Sign up
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
{% endblock content %}
