{%  extends 'utilaties/dashboard.html' %}
{% load static %}

{% block header-title %} Post Creation {% endblock header-title %}
{% block cssStyles %}

    <!-- jquery import -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css" rel="stylesheet" media="all">
    
    <script src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"></script>
    <!-- <link href="toastr.css" rel="stylesheet"/>
    <script src="toastr.js"></script> -->
{% endblock cssStyles %}
{% block content %}
<section>
    <!-- Gutter g-1 -->
    <div class="container p-5">
        <form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <!-- Gutter g-5 -->
            <div class="d-flex justify-content-between mb-2">
                    <div class="">
                        <input id="id_startDate"  name="startDate" class="form-control" type="datetime-local" />
                        <span id="startDate"></span>
                    </div>        
                    <a class="btn btn-outline-secondary" onclick="addLocation()">Add Current Location</a>  
            </div>
            {{form.location}}
            <hr>
            <div class="row g-1">
                <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                        {{form.title}}
                    </div>
                </div>
            </div>
            <div class="row g-1">
                <div class="col">
                    <!-- Name input -->
                    <div class="form-outline">
                        {{form.description}}
                        <label class="form-label" for="form9Example1">Description</label>
                    </div>
                </div>
                <style>
                    #id_description{
                        width:100%;
                        resize: none;
                    }
                </style>
            </div>
            <hr />
            <!-- Gutter g-5 -->
            <div class="row g-5">
                <div class="col">
                     
        <ul id="tagList"  class="list-group list-group-horizontal">
        </ul>
        <input type="hidden" name="tags" id="tagsValues">
                    <!-- Name input -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"  id="tagName" placeholder="Enter Tag Name" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="addLi()">Add Tag</button>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input type="hidden" name="lat" id="latitude">
                <input type="hidden" name="lng" id="longitude">
              </div>
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            {{form.picture}}
            <button type="submit" class="btn btn-outline-secondary my-4 w-100">Add Post</button>
            <!-- <div id="editor_container"></div> -->
        </form>
        
    </div>
</section>

<script>   

    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": true,
      "positionClass": "toast-top-center",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }   

    function addLi()
    {
        var txtVal = document.getElementById('tagName').value,
            listNode = document.getElementById('tagList'),
            liNode = document.createElement("LI"),
            txtNode = document.createTextNode(txtVal);
        if(txtVal == ''){
            toastr.error('Tag Name Can Not Be Empty!');
        }
        else{
            liNode.appendChild(txtNode);
            liNode.classList.add("list-group-item");
            liNode.classList.add("me-2");
            liNode.classList.add("mb-2");
            listNode.appendChild(liNode);
            var tagTxtVal = document.getElementById('tagsValues');
            tagTxtVal.value += txtVal + ",";
            document.getElementById('tagName').value = '';
        }
    }  
    
    const select = (el, all = false) => {
        el = el.trim()
        if (all) {
        return [...document.querySelectorAll(el)]
        } else {
        return document.querySelector(el)
        }
    }

    let loc = select('#id_location');
    loc.className += ' form-control';
    let pic = select('#id_picture');
    loc.className += ' form-control';
    loc.setAttribute('placeholder', 'Enter Address Manually');
    let title = select('#id_title');
    title.className += ' form-control'; 
    title.setAttribute('placeholder', 'Enter Title');
    let des = select('#id_description');
    des.setAttribute('rows', '5');

    function addLocation(){
        const sucessCallback = (position) => {
            const lat = document.getElementById('latitude');
            const lng = document.getElementById('longitude');
            lat.value = position.coords.latitude;
            lng.value = position.coords.longitude;
            toastr.success('Your Current Location Has Been Added');
        };
        const errorCallback = (error) => {
            console.log(error);
        };
        navigator.geolocation.getCurrentPosition(sucessCallback, errorCallback, {
            enableHighAccuracy: true,
            timeout: 5000
        });
    }
</script>
<script>
const { TABS, TOOLS } = window.FilerobotImageEditor;
const config = {
  source: 'https://scaleflex.airstore.io/demo/stephen-walker-unsplash.jpg',
  onSave: (editedImageObject, designState) => console.log('saved', editedImageObject, designState),
  annotationsCommon: {
    fill: '#ff0000'
  },
  Text: { text: 'Filerobot...' },
  translations: {
    profile: 'Profile',
    coverPhoto: 'Cover photo',
    facebook: 'Facebook',
    socialMedia: 'Social Media',
    fbProfileSize: '180x180px',
    fbCoverPhotoSize: '820x312px',
  },
  Crop: {
    presetsItems: [
      {
        titleKey: 'classicTv',
        descriptionKey: '4:3',
        ratio: 4 / 3,
        // icon: CropClassicTv, // optional, CropClassicTv is a React Function component. Possible (React Function component, string or HTML Element)
      },
      {
        titleKey: 'cinemascope',
        descriptionKey: '21:9',
        ratio: 21 / 9,
        // icon: CropCinemaScope, // optional, CropCinemaScope is a React Function component.  Possible (React Function component, string or HTML Element)
      },
    ],
    presetsFolders: [
      {
        titleKey: 'socialMedia', // will be translated into Social Media as backend contains this translation key
        // icon: Social, // optional, Social is a React Function component. Possible (React Function component, string or HTML Element)
        groups: [
          {
            titleKey: 'facebook',
            items: [
              {
                titleKey: 'profile',
                width: 180,
                height: 180,
                descriptionKey: 'fbProfileSize',
              },
              {
                titleKey: 'coverPhoto',
                width: 820,
                height: 312,
                descriptionKey: 'fbCoverPhotoSize',
              },
            ],
          },
        ],
      },
    ],
  },
  tabsIds: [TABS.ADJUST, TABS.ANNOTATE, TABS.WATERMARK], // or ['Adjust', 'Annotate', 'Watermark']
  defaultTabId: TABS.ANNOTATE, // or 'Annotate'
  defaultToolId: TOOLS.TEXT, // or 'Text'
};

// Assuming we have a div with id="editor_container"
const filerobotImageEditor = new window.FilerobotImageEditor(
  document.querySelector('#editor_container'),
  config
);

filerobotImageEditor.render({
  onClose: (closingReason) => {
    console.log('Closing reason', closingReason);
    filerobotImageEditor.terminate();
  }
});
          
</script>
{% endblock content %}